.graphic-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.graphic-stats__button {
  background-color: var(--color-background);
  max-width: 600px;
  max-height: 300px;
  border: none;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.3s ;
}

.graphic-stats__button:focus{
  transform: scale(1.5);
  transition: transform 0.3s ;
  background-color: var(--color-select-background);
}
